@font-face {
    font-family: medtitle;
    src: url(fontes/Augusta.ttf);
}

@font-face {
    font-family: medtxt;
    src: url(fontes/Teutonic.ttf);
}

*{
    margin: 0;
}

body{
    padding: 0;
    background-image: url(imagens/mesa.jpg);
    background-size: cover;
    background-attachment: fixed;
}
main{
    margin: 100px;
}
header{
    text-align: center;
    background-color: #fbe9cc;
}

nav{
    background-color: #9b0d20;
    max-height: 49.7px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10%;
}

nav ul li {
    display: inline;
    color: white;
    font-family: medtxt;
    font-size: 150%;
    margin: 0.8%;
}

.logo{
    width: 300px;
}

nav ul li:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    color: white;
    background-color: #9b0d20;
    font-family: 'Lucida Sans';
}
footer img{
    width: 50px;
}
footer p{
    font-size: 20px;
}
.logo2{
    width: 500px;
}
.box_mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    z-index: 1;
    text-align: center;
    margin: 50px;
    width: 500px;
    height: 700px;
    border-radius: 5px;

}
.fundo_card{
    position: absolute;
    z-index: 0;
    width: 1500px;
    height: 800px;
}
input{
    margin: 10px;
    width: 350px;
    height: 50px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 4px solid #9b0d20;
    font-size: 25px;
}

::placeholder{
    font-size: 25px;
}

.ctt{
    position: absolute;
}

button {
    background-color: beige;
    color: #cd3232;
    box-shadow: #cd3232 0px 0px 0px 4px;
    border: none;
    height: 50px;
    width: 280px;
    border-radius: 15px;
    font-size: 20px;
}
button:hover{
    transition: 0.10s;
    cursor: pointer;
    background-color: darkred;
}
