@font-face {
    font-family: medtitle;
    src: url(fontes/Augusta.ttf);
}

@font-face {
    font-family: medtxt;
    src: url(fontes/Teutonic.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/mesa.jpg);
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: inherit;
}

header{
    background-color: #fbe9cc;
}

.logo{
    margin-left: 50%;
    transform: translate(-50%);
}

.logo:hover{
    opacity: 85%;
    transition: 0.5s;
}

nav{
    background-color: #9b0d20;
    max-height: 49.7px;
}

nav ul {
    list-style-type: none;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10%;
}

nav ul li {
    display: inline;
    color: white;
    font-family: medtxt;
    font-size: 150%;
    margin: 0.8%;
}

nav ul li:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

main{
    margin-bottom: 10%;
}

.resdiv{
    text-align: center;
}

.restitle{
    width: 100%;
    margin-top: 7%;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 700%;
    color: white;
    font-family: medtitle;
}

.perg{
    display: flex;
    justify-content: center;
    height: 20%;
    width: 100%;
}

.pergaminho{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 750px;
    z-index: 1;
    background-image: url(imagens/pergaminhobom4.png);
    background-size: 100% 650px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.pergaminho div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
}

.info1 div{
    width: 100%;
}

.info1 div h1{
    font-size: 250%;
    font-family: medtitle;
}

.info1 div input{
    border: none;
    border-bottom: 2px solid #9b0d20;
    background-color: inherit;
    font-family: medtxt;
    font-size: 200%;
    width: 100%;
}

.info1 div input:focus{
    outline: none;
}

.info2 div{
    width: 100%;
}

.info2 div h1{
    font-size: 250%;
    font-family: medtitle;
}

.info2 div input{
    border: none;
    border-bottom: 2px solid #9b0d20;
    background-color: inherit;
    font-family: medtxt;
    font-size: 200%;
    width: 100%;
}

.info2 div input:focus{
    outline: none;
}

.horarios{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
}

.horarios h1{
    width: 100%;
}

.hora{
    border: 2px solid #9b0d20;
    border-radius: 5px;
    font-family: medtxt;
    font-size: 130%;
    margin-right: 5%;
    margin-bottom: 5%;
    max-width: 14%;
    justify-content: center;
}

.hora:hover{
    background-color: #9b0d20;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.hora:focus{
    background-color: #9b0d20;
    color: white;
}

.rolao1{
    display: flex;
    z-index: 2;
    height: 750px;
    align-items: center;
    transform: translate(20%);
}

.rolao1 img{
    height: 110%;
}

.rolao2{
    display: flex;
    z-index: 2;
    height: 750px;
    align-items: center;
    transform: translate(-20%);
}

.rolao2 img{
    height: 110%;
}

.bandeira{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 4%;
}

.botao{
    background-image: url(imagens/bandeira.png);
    background-size: cover;
    width: 40%;
    height: 270px;
    min-width: 40%;
    min-height: 265px;
    text-align: center;
    align-content: center;
    color: white;
    font-family: medtitle;
    font-size: 250%;
}

.botao:hover{
    filter: brightness(120%);
    scale: 110%;
    cursor: pointer;
    transition: 0.5s;
}

footer{
    color: white;
    background-color: #9b0d20;
    font-family: 'Lucida Sans';
}

.foofighters{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 2.5%;
    justify-content: space-around;
}

.contatos{
    width: 30%;
    text-align: center;
}

.contatos h1{
    font-size: 200%;
    margin-bottom: 5%;
}

.contatos img{
    width: 8%;
    margin-bottom: 2%;
}

.insta{
    margin-bottom: 5%;
}

.insta:hover{
    scale: 110%;
    cursor: pointer;
    transition: 0.5s;
}

.zap:hover{
    scale: 110%;
    cursor: pointer;
    transition: 0.5s;
}

.direitos{
    width: 30%;
    text-align: center;
}

.direitos img{
    width: 50%;
}

.devs{
    width: 30%;
    text-align: center;
}

.devs h1{
    font-size: 200%;
}

.devs img{
    width: 8%;
}
