html{
    background-image: url(imagens/mesa.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.pergaminho{
    position: absolute;
    width: 1500px;
    left: 10%;
    top: 15%;
    z-index: 1;
}

.rolao1{
    width: 1900px;
    position: absolute;
    z-index: 2;
}