@font-face {
    font-family: Obra Letra;
    src: url(fontes/KCObraLetraBold.ttf);
}

html{
    background-image: url(imagens/mesa.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.pergaminho{
    position: absolute;
    width: 1500px;
    left: 10%;
    top: 15%;
    z-index: 1;
}

.rolao1{
    width: 1900px;
    position: absolute;
    z-index: 2;
}

.cdtitle{
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    font-family: Obra Letra;
    font-size: 500%;
    border-bottom: 5px solid #bb2020;
}

.tipos{
    position: absolute;
    z-index: 3;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    font-family: Obra Letra;
    font-size: 300%;
    border-bottom: 3px solid #bb2020;
}

.produtos{
    width: 200px;
    height: 240px;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
}

.produtos:hover{
    background-color: lightgray;
    transition: 0.1s;
}

.produtos img{
    width: 150px;
    border-radius: 10px;
}

.produtos h3{
    line-height: 0px;
}
