@font-face{
    font-family: Obra Letra;
    src: url(fontes/KCObraLetraBold.ttf);
}
*{
    font-family: Obra Letra;
}
a{
    color: inherit;
}
html{
    background-image: url(imagens/mesa.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}
.pergaminho{
    position: absolute;
    width: 1500px;
    left: 10%;
    top: 15%;
    z-index: 1;
}
.rolao1{
    width: 1900px;
    position: absolute;
    z-index: 2;
}
.bnv{
    width: 700px;
    left: 20%;
    top: 70%;
    position: absolute;
    z-index: 3;
    color: #5a1010;
}
.hst{
    width: 700px;
    right: 20%;
    top: 140%;
    position: absolute;
    z-index: 3;
    color: #5a1010;
}
.prncs{
    width: 450px;
    left: 18%;
    top: 140%;
    position: absolute;
    z-index: 3;
}
.tcadrg{
    width: 400px;
    right: 20%;
    top: 70%;
    position: absolute;
    z-index: 3;
}

header img{
    position: absolute;
    z-index: 3;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
}

.vc{
    position: absolute;
    z-index: 3;
    top: 28%;
    left: 24%;
    font-size: 225%;
    border-bottom: 3px dotted #bb2020;
}

.vc:hover{
    color: #bb2020;
    cursor: pointer;
}

.fr{
    position: absolute;
    z-index: 3;
    top: 28%;
    right: 24%;
    font-size: 225%;
    border-bottom: 3px dotted #bb2020;
}

.fr:hover{
    color: #bb2020;
    cursor: pointer;
}

.bvtitle{
    position: absolute;
    z-index: 3;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%);
    font-family: Obra Letra;
    font-size: 500%;
    border-bottom: 5px solid #bb2020;
}

.cdtitle{
    position: absolute;
    z-index: 3;
    top: 200%;
    left: 50%;
    transform: translate(-50%);
    font-family: Obra Letra;
    font-size: 500%;
    border-bottom: 5px solid #bb2020;
}

.tipos{
    position: absolute;
    z-index: 3;
    top: 225%;
    left: 50%;
    transform: translate(-50%);
    font-family: Obra Letra;
    font-size: 300%;
    border-bottom: 3px solid #bb2020;
}

.inpt{
    left: 20%;
    top: 20%;
    position: absolute;
    z-index: 3;
}
input{
    font-size: 30px;
    background: none;
    border: none;
    border-bottom: 2px solid #5a1010;
    width: 350px;
    height: 40px;
    outline: 0;
}
::placeholder{
    font-size: 30px;
}

